/**
 * Mapado theme for reveal.js.
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import "fonts";

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);


// Override theme settings (see ../template/settings.scss)
$mainFont: 'Lato', sans-serif;
$headingFont: 'Proxima Nova', sans-serif;
$mainColor: #424242;
$headingColor: #424242;
$headingLetterSpacing: -0.08em;
$headingTextShadow: none;
$backgroundColor: rgba(150, 194, 95, 1);
$linkColor: #79519f;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: #134674;
$headingTextTransform: none;

// Fix links so they are not cut off
.reveal a:not(.image) {
	line-height: 1.3em;
}

// Background generator
@mixin bodyBackground() {
	background: $backgroundColor;
}

.left {
    float: left;
}

.right {
    float: right;
}

.txtright {
    text-align: right;
}
.txtleft {
    text-align: left;
}

.classpasclass {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    &.coupled:first-child {
        background-position: calc(50% - 250px) center;
    }
    &.coupled:last-child {
        background-position: calc(50% + 250px) center;
    }

    &.perfect {
        background-image: url(/dev-ux/assets/img/pad/perfect.png), radial-gradient(rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, 0) 90%);
    }

    &.class {
        background-image: url(/dev-ux/assets/img/pad/boss.png), radial-gradient(rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, 0) 90%);
    }

    &.pasclass {
        background-image: url(/dev-ux/assets/img/pad/nope.png), radial-gradient(rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, 0) 90%);
    }

    &.vraimentpasclass {
        background-image: url(/dev-ux/assets/img/pad/what.png), radial-gradient(rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, 0) 90%);
    }
}

.reveal table th, .reveal table td {
    text-align: left;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-bottom: 1px solid;
}



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------


.reveal {
    .vmiddle {
        vertical-align: middle;
    }

    .w45 {
        width: 45%;
    }

    ul {
        list-style-type: square;
    }

    ul.no-style {
        list-style-type: none;
        margin-left: 0;
    }

    section img {
        border: 0;

        &.no-style {
            background: none;
            box-shadow: none;
        }
    }

    blockquote {
        width: 85%;
    }

    .controls div {
        opacity: .3;
        &.enabled {
            opacity: .5;
        }
    }

    .large {
        font-size: 1.3em!important;
    }
    .small {
        font-size: 0.8em!important;
    }
    .gray {
        color: #444;
    }

    blockquote {
        font-size: 1.2em;
        margin-bottom: .6em;
    }

    pre code.no-max-height {
        max-height: 100%;
    }

    .signature {
        //font-size: 0.8em;
        color: #555;
        font-style: italic;
        text-align: right;
        padding-right: 5px;
    }

    .txtcenter {
        text-align: center;
    }

    [data-fade-to] {
        position: relative;
        display: inline-block;
        height: 100%;
        img {
            display: block;
        }
        img.fade {
            position: relative;
            z-index: 2;
            margin-left: auto;
            margin-right: auto;
        }
        img.fade-new {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }

    strike {
        text-decoration: none;
        background-image: linear-gradient(transparent 56%,#000 56%,#000 64%,transparent 64%);
    }

    .white {
        color: #fff;
    }

    h1.white, h2.white, h3.white, h4.white {
        text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
    }

    .top {
        padding-bottom: 2em;
    }

    .bottom {
        padding-top: 2em;
    }
}
