node_modules

.cache
.vercel
.output

# ignore builded talks
public/*/
# but keep non-talks
!public/.well-known/
!public/images/
# and keep old talks
!public/dev-ux/
!public/js-lib-watch-module-dependencies/
!public/open-source-howto/
!public/phpstan/
!public/react-2019-2020/
!public/retour-es/
!public/timezones/
!public/typescript/

api/_build
.env