node_modules

.cache
.vercel
.output

# ignore builded talks
public/*/
# but keep non-talks
!public/.well-known/
!public/images/
!public/3d-to-flat-animation/
# and keep old talks
!public/dev-ux/
!public/open-source-howto/
# talks to migrate
!public/retour-es/

api/_build
.env